<?xml version="1.0"?>

<model>
  <name>Hatchback red</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <depend>
    <model>
      <uri>https://fuel.ignitionrobotics.org/1.0/chapulina/models/hatchback</uri>
    </model>
  </depend>

  <description>
    A red hatchback
  </description>
</model>
